.workshopdetail-body-detail {
    background-color: #FFFAF2;
    margin: 10% 5% 20% 5%

}

.workshop-title-detail {

    font-size: 48pt;
    font-weight: lighter;
    margin-left: 7%;
    margin-bottom: 3%;
    margin-right: 5%;
    color: #5E4B49;
    margin-top: 7%;
}

.workshop-date-and-schedule-container-detail {
    display: flex;
    font-family: 'Poppins';
    font-size: 16pt;
    font-weight: light;
    margin-left: 7%;
    margin-top: 1%;

}

.workshop-date-detail {
    margin-left: 0%;
    color: #5E4B49;
    font-weight: 200;

}

.workshop-schedule-detail {
    margin-left: 0.4%;
    color: #5E4B49;
    font-weight: 200;
}

.workshop-description-detail {
    font-family: 'Poppins';
    font-size: 14pt;
    font-weight: 300;
    color: #5E4B49;
    margin: 4% 0 7% 7%;
    line-height: 3;
}

.watch-icon-detail {
    margin-left: 1%;
    size-adjust: 50%;
    width: 20px;
    margin-top: -25px;
}

.img-workshop-detail {
    margin-left: 7%;
    width: 50%;
}

.workshop-date-and-schedule-container-detail {
    font-family: 'Poppins';
    font-size: 12pt;
}

@media (max-width: 768px) {
    .workshop-title-detail {
        font-size: 30pt;
        font-weight: lighter;
        margin-left: 7%;
        margin-bottom: 3%;
        margin-right: 5%;
        color: #5E4B49;
        margin-top: 7%;
    }

    .img-workshop-detail {
        margin: 0 auto; 
        display: block; 
        max-width: 100%; 
    }
    .workshop-description-detail{
        font-family: 'Poppins';
       font-size: 11pt;
       font-weight: light;
        margin:7%;
        color: #5E4B49;
        margin-bottom: 7%;
        margin-top: 2%;
    }
}