body {
    background-color: #FFFAF2;
}

.main-container {
    color: #5E4B49;
    margin: 9%;
}

img[src='/img/ONDAS.svg'] {
    width: 124%;
    margin-left: -12%;
}

.HomeSection-Header {
    margin-bottom: 2%;
    align-items: center;
}

.homesection-header-miguelfoto {
    justify-self: end;
    margin-right: -5%;
    width: 124%;
    isolation: isolate;
    margin-left: -12%;
    margin-top: -20%;
    position: relative;
    z-index: -1;
}

.HomeSection-Header h1 {
    font-family: 'Ovo', sans-serif;
    font-weight: 400;
    font-size: 64px;
    margin-left: 1%;
    width: 500px;
}

.HomeSection-Header h2 {
    font-family: 'Poppins';
    margin-top: 20px;
    font-weight: 400;
    font-size: 36px;
    width: 130%;
}

.HomeSection-Header button {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    background-color: #F06D7D;
    border: none;
    border-radius: 20px;
    width: 127px;
    height: 37px;
    margin-left: 30%;
    margin-top: 3%;
    z-index: 1;
    margin-top: 50px;
}

.HomeSection-Header button:hover {
    background-color: #FBBA7E;
    cursor: pointer;
}

.HomeSection-Title {
    display: grid;
    width: 35%;
    margin-left: 10%;
}

.HomeSection-Services {
    margin-top: 4%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.HomeSection-Services h4 {
    font-size: 24px;
    font-family: 'Ovo', sans-serif;
    font-weight: 400;
    margin-left: 25%;
    margin-bottom: 8%;
    margin-top: 10%;
}

.HomeSection-Services p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
    width: 250px;
}

.HomeSection-Services button {
    color: #9D7D79;
    background-color: #FFFAF2;
    font-family: 'Poppins';
    font-size: 14px;
    width: 100px;
    margin-left: 23%;
    margin-top: 5%;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.Coaching img {
    width: 85%;
}

.Workshop img {
    width: 83%;
}

.HomeSection-Services img:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.HomeSection-Services .Therapy,
.HomeSection-Services .Coaching,
.HomeSection-Services .Workshop,
.HomeSection-Services .Equality {
    margin-right: -50px;
}

.Therapy button {
    border-color: #F4C465;
}

.Coaching button {
    border-color: #FBBA7E;
}

.Workshop button {
    border-color: #F6927C;
    margin-top: 13.5%;
}

.Equality button {
    border-color: #F06D7D;
    margin-top: 5%;
}

.Therapy button:hover {
    background-color: #F4C465;
    color: white;
    cursor: pointer;
}

.Coaching button:hover {
    background-color: #FBBA7E;
    color: white;
    cursor: pointer;
}

.Workshop button:hover {
    background-color: #F6927C;
    color: white;
    cursor: pointer;
}

.Equality button:hover {
    background-color: #F06D7D;
    color: white;
    cursor: pointer;
}

.know-me-description {
    position: relative;
    z-index: 1;
    margin-top: 20%;
}

.HomeSection-KnowMe h3 {
    font-family: 'Ovo', sans-serif;
    font-size: 32px;
    font-weight: 400;
    width: 83%;
    letter-spacing: 1px;
    line-height: 44px;
    margin-top: 7%;
    position: relative;
    z-index: 1;
}

.HomeSection-KnowMe p {
    font-family: 'Poppins';
    font-size: 16px;
    width: 62%;
    line-height: 42px;
    z-index: 1;
    margin-top: 20;
}

.HomeSection-KnowMe button {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    background-color: #F06D7D;
    border: none;
    border-radius: 20px;
    width: 177px;
    height: 37px;
    margin-left: 32%;
    margin-top: 3%;
}

.button-knowme-homesection {
    margin-top: 10%;
}

.HomeSection-KnowMe button:hover {
    background-color: #FBBA7E;
    cursor: pointer;
}

.knowme-img {
    justify-self: end;
    margin-right: -10%;
    width: 130%;
    isolation: isolate;
    margin-left: -18%;
    margin-top: -50%;
    position: relative;
    z-index: -1;
}

@media (max-width: 1200px) {
    .HomeSection-Header h1 {
        font-size: 48px;
    }

    .HomeSection-Header h2 {
        font-size: 28px;
    }

    .HomeSection-Header button {
        margin-left: 20%;
    }

    .HomeSection-Services {
        padding: 20px;
    }

    .HomeSection-Services h4 {
        font-size: 20px;
    }

    .Therapy button {
        margin-bottom: 50px;
    }

    .HomeSection-KnowMe h3 {
        font-size: 28px;
    }

    .HomeSection-KnowMe p {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .main-container {
        margin: 5%;
    }

    .HomeSection-Header {
        flex-direction: column;
        align-items: center;
    }

    .HomeSection-Header img {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }

    .HomeSection-Header h1 {
        font-size: 36px;
        margin-left: 0;
        text-align: center;
    }

    .HomeSection-Header h2 {
        font-size: 24px;
        text-align: center;
    }

    .HomeSection-Header button {
        margin-left: 0;
        margin-top: 20px;
    }

    .HomeSection-Services {
        flex-direction: column;
        align-items: center;
    }

    .HomeSection-Services>div {
        margin: 20px 0;
    }

    .HomeSection-Services img {
        display: block;
        margin-left: 100px;
    }

    .HomeSection-Services h4 {
        margin-left: 160px;
        margin-bottom: -5px;
    }

    .HomeSection-Services p {
        font-size: 14px;
        text-align: center;
        width: 80%;
        margin-left: 20px;
    }

    .HomeSection-Services button {
        margin-left: 160px;
        margin-top: 10px;
        width: 80px;
        font-size: 12px;
        display: inline-block;
    }

    .HomeSection-KnowMe h3 {
        font-size: 24px;
        width: 100%;
        text-align: center;
    }

    .HomeSection-KnowMe p {
        width: 100%;
        text-align: center;
    }

    .HomeSection-KnowMe button {
        margin-left: 0;
        margin-top: 20px;
    }

    .HomeSection-KnowMe img {
        display: none;
    }

    .knowme-img {
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        margin-top: 20px;
        position: static;
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .HomeSection-Header h1 {
        font-size: 40px;
        margin-left: -15%;
        margin-top: 20px;
    }

    .HomeSection-Header h2 {
        font-size: 18px;
        width: 70%;
    }

    .HomeSection-Header button {
        width: 100px;
        height: 30px;
        font-size: 14px;
        display: inline-block;
        margin-left: 80px;
        margin-top: 50px;
        text-decoration: none;
    }

    .HomeSection-Header img {
        margin-top: -60px;
        width: 480px;
        margin-bottom: 50px;
    }

    .HomeSection-Services {
        flex-direction: column;
        align-items: center;
    }

    .HomeSection-Services>div {
        margin: 20px 0;
    }

    .HomeSection-Services img {
        width: 200px;
        display: block;
        margin-left: 100px;
    }

    .HomeSection-Services h4 {
        margin-left: 160px;
    }

    .HomeSection-Services p {
        font-size: 12px;
        text-align: center;
        width: 70%;
        margin-left: 60px;
        margin-top: 20px;
    }

    .HomeSection-Services button {
        margin-left: 160px;
        margin-top: 10px;
        width: 80px;
        font-size: 12px;
        display: inline-block;
    }

    .HomeSection-KnowMe h3 {
        font-size: 20px;
    }

    .HomeSection-KnowMe p {
        font-size: 14px;
    }

    .HomeSection-KnowMe button {
        margin-left: 120px;
        margin-top: 10px;
        margin-bottom: 40px;
        width: 140px;
        font-size: 14px;
    }

    .HomeSection-KnowMe img {
        display: none;
    }

    .knowme-img {
        display: none;
    }
}