body {
    background-color: #FFFAF2;
}

.main-container {
    color: #5E4B49;
    margin: 9%;
}

img[src='/img/Ondas.svg'] {
    width: 124%;
    margin-left: -12%;
}

.HomeSection-Header {
    margin-bottom: 2%;
}

.HomeSection-Header h1 {
    font-family: 'Ovo', sans-serif;
    font-weight: 400;
    font-size: 64px;
    margin-left: 1%;
}

.HomeSection-Header h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 36px;
    width: 50%;
}

.HomeSection-Header button {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    background-color: #F06D7D;
    border: none;
    border-radius: 20px;
    width: 127px;
    height: 37px;
    margin-left: 15%;
    margin-top: 3%;
}

.HomeSection-Header button:hover {
      background-color: #FBBA7E;
      cursor: pointer;
}

.HomeSection-Services {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.HomeSection-Services h4 {
    font-size: 24px;
    font-family: 'Ovo', sans-serif;
    font-weight: 400;
    margin-left: 25%;
    margin-bottom: 8%;
}

.HomeSection-Services p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
    width: 250px;
}

.HomeSection-Services button {
    color: #9D7D79;
    background-color: #FFFAF2;
    font-family: 'Poppins';
    font-size: 14px;
    width: 100px;
    margin-left: 23%;
    margin-top: 5%;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.HomeSection-Services img:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.HomeSection-Services .Therapy,
.HomeSection-Services .Coaching,
.HomeSection-Services .Workshop,
.HomeSection-Services .Equality {
    margin-right: -50px;
}

.Therapy button {
    border-color: #F4C465;
}

.Coaching button {
    border-color: #FBBA7E;
}

.Workshop button {
    border-color: #F6927C;
    margin-top: 13.5%;
}

.Equality button {
    border-color: #F06D7D;
    margin-top: 5%;
}

.Therapy button:hover {
    background-color: #F4C465;
    color: white;
    cursor: pointer;
}

.Coaching button:hover {
    background-color: #FBBA7E;
    color: white;
    cursor: pointer;
}

.Workshop button:hover {
    background-color: #F6927C;
    color: white;
    cursor: pointer;
}

.Equality button:hover {
    background-color: #F06D7D;
    color: white;
    cursor: pointer;
}

.HomeSection-KnowMe h3 {
    font-family: 'Ovo', sans-serif;
    font-size: 32px;
    font-weight: 400;
    width: 83%;
    letter-spacing: 1px;
    line-height: 44px;
    margin-top: 7%;
}

.HomeSection-KnowMe p {
    font-family: 'Poppins';
    font-size: 16px;
    width: 62%;
    line-height: 42px;
    z-index: 1;
}

.HomeSection-KnowMe button {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    background-color: #F06D7D;
    border: none;
    border-radius: 20px;
    width: 177px;
    height: 37px;
    margin-left: 32%;
    margin-top: 3%;
}

.HomeSection-KnowMe button:hover{
    background-color: #FBBA7E;
    cursor: pointer;
}

.HomeSection-KnowMe img {
    position: absolute;
    z-index: -1;
    margin-top: -130px;
    margin-left: 20px;
    top: 1;
    left: 1;
    width: 20%;
    height: auto;
}