.blog-view-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .main-content {
    flex: 3;
    padding: 20px;
  }
  .sidebar {
    flex: 1;
    background-color: #FBF4E9; 
    padding: 30px;
    border-radius: 10px; 
    max-width: 300px; 
    margin-right:200px;
    margin-top: 10%;
  }
  @media (max-width: 768px) {
    .blog-view-container {
      flex-direction: column; 
      align-items: center; 
    }
    
    .sidebar {
      margin: 10px; 
    }
  }
