.h1-blogs-catalogue-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 5%;
    margin-top: 3%;
    position: relative;
    font-family: 'Ovo';
    font-size: calc(1.6rem + 0.5vw);
}

.h1-blogs-catalogue {
    color: #5E4B49;
    position: relative;
    display: inline-block;
    text-align: center; 
}

.h1-blogs-catalogue::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%;
    height: 15px; 
    background-color: #FBBA7E; 
    z-index: -1;
}
