@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');

.contact-page {
    background-color: #FFFAF2;
}

.contact-container {
    font-family: 'Poppins', Courier, monospace;
    display: flex;
    background-color: #FBF4E9;
    border-radius: 25px;
    max-width: 75%;
    align-items: center;
    margin: 80px auto; 
}


.contact-formUser {
    flex: 1;
    margin: 30px;
}

.social-media {
    background-color: #FBF4E9;
    flex: 1;
    margin-left: 150px;
    margin-right: 30px;
    margin-top: 40px;
    font-size: large;
}

.text-content {
    font-family: 'Poppins', Courier, monospace;
    font-size: larger;
    text-align: center;
    text-align: center;
    margin: 70px;
}

.highlighted-heading {
    font-family: 'Ovo', sans-serif;
    color: black;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlighted-heading::after {
    content: '';
    position: absolute;
    width: calc(100% + 20px);
    height: 20px;
    bottom: -1px;
    left: -10px;
    background-color: #FBBA7E;
    z-index: -1;
}

.text-content p {
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.deco-butterfly {
    margin: 90px;
}
@media (max-width: 768px) {
    .social-media {
        display: none; 
    }
    
.contact-container {
    font-family: 'Poppins', Courier, monospace;
    display: flex;
    background-color: #FBF4E9;
    border-radius: 25px;
    max-width: 70%;
    align-items: center;
    margin: 80px auto; 
}
}