.catalogue-main-container {
    display: flex;
    justify-content: center; 
  }
  
  .catalogue-body {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 100%; 
  }
  
