.container-gralformLogin{
    display: flex;
    height: 100vh;
    background-color:#FFFAF2;
    

}

.container-formlgn{
   background-color: #FBF4E9;
   width: 448px;
   height: 481px;
   margin-left: 30%;
   margin-top: 50px;
   border-radius: 20px;
}


.container-formlgn .input-group1 #input-name {
    margin-top: 7%;
    margin-left: 15%;
    width: 329px;
    height: 27px;
    border-radius: 52.5px;
    border: none;
  
}

.container-formlgn .input-group2 #input-pw{
    margin-left: 15%;
    margin-top: 7%;
    width: 329px;
    height: 27px;
    border-radius: 52.5px;
    border: none;
}

.container-formlgn #labl-user{
    display: flex;
    width: 70px;
    margin-top: 10%;
    margin-left: 15%;
    font-family:'Poppins', sans-serif;

    
}

.container-formlgn #labl-pw{
    display: flex;
    width: 80px;
    margin-top: 10%;
    margin-left: 15%;
    font-style: #5E4B49;
    font-family:'Poppins', sans-serif;

}

.content-form .iniciar-sesionbtn{
    margin-top: 20% ;
    margin-left: 30%;
    width: 164px;
    height: 33px;
    border-radius: 52.5px;
    border: none;
    color: white;
    background-color: #F06D7D;

}

.image-container .login-image{

    display: flex;
    margin-top: 150%;
    width: 255.1px;
    height: 313.97px;
    margin-left: 30%;
    
    

}

@media only screen and (max-width: 480px) {
     .container-gralformLogin{
       
        width: 100%;
        background-color:#FFFAF2;
          
    } 
    .container-formlgn{
        
       width: 90%;
       height: 55%;
       margin-left: 3%;
       margin-right: -47px;
        
    }
    .container-formlgn .input-group1 #input-name {
        
        width: 70%;
        height: 25px;
      
    }
    .container-formlgn #labl-user{
        font-size: 90%;
        
    }
    .container-formlgn .input-group2 #input-pw{
        width: 70%;
        height: 25px;
    }
    .container-formlgn #labl-pw{
        font-size: 90%;
    
    }
   .content-form .iniciar-sesionbtn{
    width: 40%;
    height: 40px;
    margin-top: 70px;
    margin-left: 30%;
    border-radius: 52.5px;
    border: none;   
    font-family:'Poppins', sans-serif;
    font-size: 100%;
    color: white;
    background-color: #F06D7D;
   }
   .image-container .login-image{

    display: flex;
    margin-top: 660%;
    width: 50%;
    height: 9%;
    margin-left: 20%;

}

}




    
  

