.workshop-body{
  display: flex;
  flex-flow:wrap
}
.workshop-container {
  display: flex;
  justify-content: center;
  gap: 6.5%;
  flex-wrap: wrap;
  font-family: 'Poppins';
  color: #5E4B49;
  margin-top: 5%;
}

.workshop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBF4E9;
  border-radius: 30px;
  width: 90%;
  max-width: 400px;
  height: 600px;
  padding: 65px 20px 10px 20px;
  margin: 0 auto 5% auto 100px; 
  box-sizing: border-box; 
  margin-bottom: 200px
}

.workshop-image-container img {
  width: 300px;
  height: 220px;
}

.workshop-image{
  width: 300px;
  height: 220px;
}

.workshop-date-and-schedule-container {
  display: flex;
  align-items: center;
  gap: 15%;
  margin-left: 3%;
  margin-top: 20px;
}

.workshop-date {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 100;
  gap: 15%
}

.workshop-schedule {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 100;
  gap: 5%;
  width: auto
}

.workshop-schedule-p {
  width: 200px;
}

.workshop-title-and-description{
  width: 300px;
  height: 160px;
  margin-bottom: 20px
}

.workshop-title {
  font-family: 'Ovo';
  font-size: 25px;
  font-weight: 100;
}

.workshop-description {
  font-size: 15px;
  font-weight: 200;
  text-align: justify;
  line-height: 1.75;
}

.icon-workshop {
  width: 20px;
  height: 20px;
  margin-bottom: 16px
}

.workshop-button-container {
  position: relative;
  text-decoration: none;
}

.workshop-button-container {
  position: relative;
  text-decoration: none;
}

.more-info-button {
  border-color: #F4C465;
  background-color: transparent;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 300;
  color: #5E4B49;
  border-radius: 30px;
}

.more-info-button:hover {
  background-color: #FFEAEA;
  height: 30px;
  width: 120px
}