.workshop-container {
  display: flex;
  justify-content: center;
  gap: 6.5%;
  flex-wrap: wrap;
  font-family: 'Poppins';
  color: #5E4B49;
  margin-top: 10%;
}

.workshop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBF4E9;
  border-radius: 30px;
  width: 22%;
  height: 600px;
  padding: 65px 20px 10px 20px;
  margin-bottom: 10%;
}

.workshop-image-container img {
  width: 300px;
  height: 220px;
}

.workshop-image{
  width: 300px;
  height: 220px;
}

.workshop-date-and-schedule-container {
  display: flex;
  align-items: center;
  gap: 15%;
  margin-left: 3%
}

.workshop-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 100;
  gap: 15%
}

.workshop-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 100;
  gap: 10%;

}
.workshop-schedule p {
  width: 50px;
}

.workshop-title-and-description{
  width: 300px;
  height: 220px;
}

.workshop-title {
  font-family: 'Ovo';
  font-size: 25px;
  font-weight: 100;
}

.workshop-description {
  font-size: 15px;
  font-weight: 200;
  text-align: justify;
  line-height: 1.75;
}

.icon-workshop {
  width: 20px;
  height: 20px
}

.workshop-button-container {
  position: relative;
  text-decoration: none;
}

.workshop-button-container {
  position: relative;
  text-decoration: none;
}

.svg1{
  width: 125px;
  height: 30px;
  margin-top: 10%;
}

.svg2 {
  display: none;
  /* Oculta el segundo SVG inicialmente */
  position: absolute;
  top: 0;
  left: 0;
}

.svg-container:hover .svg1 {
  display: none;
  /* Oculta el primer SVG cuando se hace hover */
}

.svg-container:hover .svg2 {
  display: block;
  /* Muestra el segundo SVG cuando se hace hover */
}